<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><b><%= @project.name%></b> Project was created</h3>
    <p><b>Description</b><%= @project.description%></p>

    <div>
        Contact Details: <br>
        Manager : <%= @creator%><br>
        Client : <%= @client%>
    </div>
  </body>
</html>