<div class="container">
<%= link_to "New issue", new_issue_path(@project_id) ,:class => "btn btn-primary my-4"%>
<h3>All Issues</h3>

<div id="issues">
  <% @issues.each do |issue| %>
    <%= render issue %>
    <p style="padding-left: 50px; padding-top: 10px">
      <%= link_to "Show this issue", issue , :class => "btn btn-primary" %>
      <%= link_to "Assign this issue", assign_issue_show_issues_path(issue),:class => "btn btn-primary" %>
   
    </p>
  <% end %>
</div>
</div>
