<div class="container">
<div class="card" style="width: auto;  border-radius: 25px;">
  <div class="card-body " style="background-color: #b4b4b4 ; border-radius: 25px;">
<div>
  <p>
    <strong>Title:</strong>
    <%= task.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

</div>
</div>
</div>
</div>