

<div class = "container" style ="margin-top: 30px">
<h2 class="head-text mt-6">All Active Users</h2>   
<%= link_to "Add New User", new_user_path ,class: 'btn btn-primary' if can? :create_user, User%> 

<div style="display:block">

<% @users.each do |user| %>
<div class="card m-4" style="width: 18rem;display:inline-block ">
  <div class="card-body">
    <h5 class="card-title"><%= user.name %></h5>
    <p class="card-text">
      <%if(user.roles.first.name=="manager")%>
      <span class="badge badge-pill badge-primary">Manager</span>
      <% elsif (user.roles.first.name=="admin") %>
      <span class="badge badge-pill badge-danger">Admin</span>
      <% elsif (user.roles.first.name=="customer") %>
      <span class="badge badge-pill badge-secondary">Customer</span>
      <% else %>
      <span class="badge badge-pill badge-info">Employee</span>
      <%end%>
     
    </p>
     <%= link_to "Edit Role", edit_user_path(user),class:"btn btn-primary" %>
   
   </div>
</div>

<%end%>
</div>



</div>