<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<div class="row">
  <div class="col-3">
    <h1>Projects</h1>
  </div>
  <div class="col-9">
    <%= link_to 'New project', new_project_path, class: 'btn btn-outline-primary' if can? :create, Project %>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <canvas id="myChart" style="width:50%;max-width:600px"></canvas>
  </div>
  <div class="col-9">
    <div class="row">
      <% @projects.each do |project| %>
        <%
          unless current_user.has_role? "employee"
            next unless  can? :show, project
          end %>
        <%= render project %>
      <% end %>
    </div>
  </div>
</div>

<% completed = Project.where(status: "completed").count
  on_going = @projects.count - completed %>

<script>
  var xValues = ["In Progess", "Completed"];
  var yValues = [<%=on_going%>, <%= completed%>];
  var barColors = ["#b91d47", "#00aba9"];

  new Chart("myChart", {
    type: "pie",
    data: {
      labels: xValues,
      datasets: [{
        backgroundColor: barColors,
        data: yValues
      }]
    },
    options: {
      title: {
        display: true,
        text: "All Projects Status"
      }
    }
  });
</script>
