@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif
 }

 body {
     background: #ecf0f3
 }
 .wrapper {
     max-width: 450px;
     min-height: 600px;
     margin: 80px auto;
     padding: 20px 10px 10px 10px;
     background-color: #f1f7fc;
     border-radius: 15px;
     box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px rgba(255, 255, 255, 0)
 }
 .user-wrapper {
    max-width: 450px;
    min-width: 350px;
    max-height: 300px;
    margin: 100px auto;
    padding: 20px 10px 10px 10px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #3d597585, -13px -13px 20px rgba(255, 255, 255, 0)
 }
 .card-wrapper {
     max-width: 400px;
     min-height: 450px;
     max-height: 550px;
     margin: 80px auto;
     padding: 40px 30px 30px 30px;
     background-color: #e3faf4;
     border-radius: 50px;
     box-shadow: 13px 13px 20px #264c70, -13px -13px 20px rgba(255, 255, 255, 0)
 }

 .card-wrapper:hover {
    transform: scale(1.1); 
 }

 .logo {
     width: 140px;
     margin: auto
 }

 .logo img {
     width: 100%;
     height: 140px;
     object-fit: cover;
     border-radius: 50%;
     box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff
 }

 .wrapper .name {
     font-weight: 600;
     font-size: 1.4rem;
     letter-spacing: 1.3px;
     padding-left: 10px;
     color: #555
 }

 .wrapper .form-field input  {
     width: 100%;
     display: block;
     border: none;
     outline: none;
     background: none;
     font-size: 1.2rem;
     color: #666;
     padding: 10px 15px 10px 10px
 }

 .wrapper .form-field select {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px
}
.wrapper .form-field label {
    font-size: 1.2rem;
    color: #666;
}

 .wrapper .form-field {
     padding-left: 10px;
     margin-bottom: 20px;
     border-radius: 20px;
     box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff
 }

 .wrapper .form-field .fas {
     color: #555
 }

 .wrapper .btn {
     box-shadow: none;
     width: 100%;
     height: 40px;
     background-color: #03A9F4;
     color: #fff;
     border-radius: 25px;
     box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
     letter-spacing: 1.3px
 }

 .wrapper .btn:hover {
     background-color: #039BE5
 }

 .wrapper a {
     text-decoration: none;
     font-size: 0.9rem;
     color: #03A9F4
 }

 .wrapper a:hover {
     color: #039BE5
 }
 .description {
    max-width:100%;
    white-space:nowrap; 
    overflow:hidden;
    text-overflow:ellipsis;
    }
 .tooltip-inner {
    background-color: #00b9d1 !important;
    color: #f8f9fa!important;
    font-weight: bold;
 }
 
 .bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
    border-bottom-color: #00b9d1 !important;
 }
 @media(max-width: 380px) {
     .wrapper {
         margin: 30px 20px;
         padding: 40px 15px 15px 15px
     }
 }