<div class="footer p-3 fixed_footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h5 class="text-center mb-0 pb-0">Footer Section</h5>
      </div>
    </div>
  </div>
</div>
